
body {
  margin: 0;
  background:url(public/background.png);
}


#catGirl {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  position: relative;
  width: 70px;
  height: 90px;
  transition: 0.5s;

}

 #catGirl.jump { 
  top: -100px; /* Высота прыжка */ 
 }

#rectangle {
  width: 200px;
  height: 30px;
  background: red;

}
