
body {
  margin: 0;
  /* background:url(/menu.jpg); */
  background-color: rgb(62, 62, 87);
  overflow: hidden;
}


#jumpingElement { 
position: relative; 
    top: 0; 
    transition: 0.5s; /* Длительность анимации */ 
 }  
   

  #jumpingElement.jump {  
   top: -100px; 
   /* Высота прыжка   */
  }  

 #rectangle {
  width: 200px;
  height: 30px;
  background-color: red;

} 

.blocks {
  display: flex;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.808);
}

.modal-content {
  display: flex;
    width: 500px;
    height: 250px;
  background-image: url(/menu.jpg);
  padding: 20px;
  border: white, 5px solid ;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: rgb(93, 45, 138) 3px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 15px;
  cursor: pointer;
} 

button:hover {
  background-color: rgb(93, 45, 138);
  border: white, 3px solid;
  color: white;
  transition: 1s;
}  