
body {
  margin: 0;
  background:url(public/background.png);
}

#jumpingElement { 
    width: 50px; 
    height: 50px; 
    /* background-color: red;  */
    position: relative; 
    top: 0; 
    transition: top 0.5s; /* Длительность анимации */ 
   } 
   

/* #catGirl {
  position: relative;
  width: 70px;
  height: 90px;
  top: 0;
  transition: 0.5s;

} */

 #jumpingElement.jump { 
  top: -100px; /* Высота прыжка */ 
  } 

/* #rectangle {
  width: 200px;
  height: 30px;
  background: red;

} */
